<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>{{liste.name}}</title>
</head>
<body>

    <div class='justify-content-md-center'>
    <div class="d-flex justify-content-center flex-wrap">

        {%for genre in genres%}
            <div class="p-4 m-3 bg-white rounded shadow-sm text-center">
                <img src="{% static genre.icon %}" alt="image"></br>
                <a href="{% url 'mybooksapp:detail_genre' genre.id%}" class="btn mt-1">{{ genre.name }}</a></br>
            </div>
        {%endfor%}

        <button type="button" class="btn"><a href="{% url 'mybooksapp:new_book' %}" class='text-light'>+ Neues Buch hinzufügen</a></button>

    </div>
    </div>
  
</body>
</html>