<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>{{liste.name}}</title>
</head>
<body>


    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 text-center">
                <div id="{{genre}}" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {%for book in books%}
                            <li data-target="#{{genre}}" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {%endif%}></li>
                        {%empty%}
                            <li data-target="#{{genre}}" data-slide-to="0" class="active"></li>
                        {%endfor%}
                    </ol>
                    <div class="carousel-inner">
                        {%for book in books%}
                        <div class="carousel-item {% if forloop.first %}active{%endif%}">
                            <a href="{% url 'mybooksapp:detail_book' book.id%}"><img src="{{book.cover}}" class="d-block w-100" alt="..." ></a>
                            <div class="carousel-caption d-none d-md-block  bg-dark">
                            <h5>{{book.title}}</h5>
                            </div>
                        </div> 
                        {%empty%}
                        <div class="carousel-item active">
                            {% load static %}
                            <img src="{% static 'mybooksapp/nobooks.png' %}" class="d-block w-100" alt="image">
                            <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            </div>
                        </div> 
                        {%endfor%}
                    </div>
                </div>
                {%if books%}
                <a class="carousel-control-prev" href="#{{genre}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{genre}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                {%endif%}
            </div>
        </div>
</div>
    <div class='mt-5'>
        <button type="button" class="btn"><a href="{% url 'mybooksapp:new_book' %}" class='text-light'>+ Neues Buch hinzufügen</a></button>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>