<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>MyBooks</title>
</head>
<body>
    <div class="container">
        <div class='row justify-content-md-center p-2 pt-5 mt-5'>


           

            <form action="{% url "mybooksapp:search" %}" method="post">
                 <div class="form-group">
                 {% csrf_token %}
                <input type="text" name="search" id="search" placeholder="Search...">
                <select name="category" id="category">
                    <option value="all" selected>alle Kategorien</option>
                    <option value="title">in Title</option>
                    <option value="author">in Author</option>
                    <option value="script">in der Beschreibung</option>
                </select>
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div> 
                
              </form>
        </div>
    </div>



<div class="container">
    <div class='row justify-content-md-center p-2 pt-5 mt-5'>
        {% for list in listen%}
            <a href="{% url 'mybooksapp:detail_list' list.id%}"><img src="{% static list.icon %}" alt="image"></a>
        {% endfor %}
    </div>
</div>

</body>
</html>