<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>Neues Buch hinzufügen</title>
</head>
<body>

  <div class='row justify-content-md-center p-2 mt-5'>
  <div class="col-lg-10 p-4 bg-white rounded shadow-sm">

    <form action="" method="post">
    <div class="form-group">
      {% csrf_token %}
      <label>Titel</label>
      <input type="text" name="title" {% if "title" in data %} value="{{ data.title }}"{% endif %}><br>

      <label>Autor:in</label>
      <input type="text" name="author" {% if "author" in data %} value="{{ data.author }}"{% endif %}><br>

      <label>Inhalt</label>
      <input type="textarea" name="content" {% if "content" in data %} value="{{ data.content }}"{% endif %}><br>

      <label>Bewertung</label>
      <input type="number" name="rating" {% if "rating" in data %} value="{{ data.rating }}"{% endif %}><br>

      <label>Preis</label>
      <input type="number" step="0.01" name="price" {% if "price" in data %} value="{{ data.price }}"{% endif %}><br>

      <label>Cover</label>
      <input type="text" name="cover" {% if "cover" in data %} value="{{ data.cover }}"{% endif %}><br>

      <label>Bücherliste</label>
      <select name="booklist">
        {% for list in booklists %}
          <option value="{{list.id}}">{{list}}</option>
        {% endfor %}
      </select></br>

      <label>Genre</label>
      <select name="genre">
        {% for genre in genres %}
          <option value="{{genre.id}}">{{genre}}</option>
        {% endfor %}
      </select></br>

      <div class="input-group">
        <input class="btn" type="submit" name="anlegen" value="Speichern">
      </div>

    </div>
    </form>
    
    <form action="{% url "mybooksapp:new_book" %}" method="post">
      <input type="text" name="isbn" id="isbn" value="9783426281550">
      {% csrf_token %}
      <input type="submit" name="isbnsuche" id="isbnsuche" value="Daten importieren">
    </form>

    <p>
    Beispiel-ISBNs: 9783426281550
    </p>

  </div>
  </div>

</body>
</html>