<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>Search Results</title>
</head>
<body>
    <div class="container">
        <div class='row justify-content-md-center p-2 pt-5 mt-5'>


            <form action="{% url "mybooksapp:search" %}" method="post">
                 <div class="form-group">
                 {% csrf_token %}
                <input type="text" name="search" id="search"  value="{{search_word}}">
                <select name="category" id="category">
                    <option value="all" selected>alle Kategorien</option>
                    <option value="title">in Title</option>
                    <option value="author">in Author</option>
                    <option value="script">in der Beschreibung</option>
                </select>
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div> 
                
              </form>
        </div>
    </div>


    {% for book in results%}

    <div class='row justify-content-md-center p-2 mt-5'>
        <div class="col-lg-8 p-4 bg-white rounded shadow-sm">    
    
            <div class='container d-flex'>
                <img src="{{book.cover}}" class="" alt="image">
                <div class='pl-4'>
                    <h2>{{book.title}}</h2>
                    <p>{{book.content}}</p>
                    <p><b>Autor: </b>{{book.author}}</p>
                    <p><b>Bewertung: </b>{{book.rating}}</p>
                    <p><b>Gelesen: </b>{{book.done}}</p>
                    <p><b>Preis: </b>{{book.price}}</p>
                    <p><b>Genre: </b>{{book.genre}}</p>
                    <div class='mt-4'>
                        <a href="{% url 'mybooksapp:update_book' book.id%}" class='btn'>Bearbeiten</a>
                        <a href="{% url 'mybooksapp:delete_book' book.id%}" class='btn'>Löschen</a>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
        {% empty %}
        <div class="container">
        <p>No results for "{{search_word}}"</p>
        </div>
        {% endfor %}

    {% if books_data %}

    <div class="container">
        <p>Die ersten 12 Results von Thalia.de:</p>
    </div>
    <div class="d-flex justify-content-start flex-wrap">
        {%for book,links in books_data.items %}
        <div class="container text-center" style="width: 13.9rem;">
            <div class="card m-3" style="width: 10rem;">
                <img src="{{links.0}}" class="card-img-top" alt="image" >
                <p>{{book}}</p>
            </div>
            <a href="{{links.1}}" class="btn" style="width: 10rem;">Zum Buch</a>
        </div>
        {%endfor%}
    </div>
    {% endif %}


</body>
</html>